/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background: #1c1c1eff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: grey;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav.logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .bx-menu {
  color: #1c1c1eff;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
  padding: 20px 0;
}

.logo .logo-name {
  color: #1c1c1eff;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: grey;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

nav.open .sidebar{
  left:0;
}

nav.open .mainLogo{
  visibility: hidden;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 14px 12px;
  border-radius: 8px;
}

.nav-link:hover .icon,
.nav-link:hover .link {
  color: #40f46d;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: white;
}

.nav-link .link {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.log {
  bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  pointer-events: none;
}

section {
  padding: 100px 35px;
}

section p {
  line-height: 2;
  max-width: 900px;
  margin: 32px auto;
}

section:nth-of-type(#about) {
  background: beige;
  color: black;
}

section.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

section.hero h1 {
  color: white;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  width: 100%;
}
